.TopBar {
	/* background-color: #0099dd; */
	background-color: #348d00;
	height: 3.5rem;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* padding: 0.5rem; */
	justify-content: space-between;
	position: fixed;
	top: 0;
	width: 100%;
}

/* An empty space to bring balance to the flexbox */
.space {
	height: 3rem;
	flex: 0 80 10rem;
}

.title {
	width: 8rem;
	flex: 0 2 auto;
	text-align: center;
	padding: 0.5rem;
	font-weight: bold;
	font-size: large;
	color: #fff;
	background-color: #00000088;
	border-radius: 0.3rem;
	border: none;
	height: 2.1rem;
}

.buttonContainer {
	flex: 0 1 auto;
	display: flex;
	margin-left: 0.5rem;
}

.TopBarButton {
	margin-right: 0.5rem;
	height: 2.1rem;
	width: 4rem;
	color: #fff;
	background-color: #00000020;
	border: 1px solid #fff;
	border-radius: 0.3rem;
	transition-duration: 0.15s;
	outline: 0;
}

.TopBarButton:hover {
	background-color: #00000044;
}

.TopBarButton:active {
	background-color: #00000088;
}