.TopBar {
	/* background-color: #0099dd; */
	background-color: #348d00;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	position: fixed;
	width: 100%;
}

/* An empty space to bring balance to the flexbox */
.TopBar .space {
	flex: 1;
}

.TopBar .title {
	width: 11rem;
	padding: 0.5rem;
	font-weight: bold;
	font-size: large;
	color: #fff;
	background-color: #00000088;
	border-radius: 0.3rem;
	border: none;
	height: 2.1rem;
	outline: none;
	margin: 0.25rem;
	transition-duration: 0.15s;
}

.TopBar .title:hover {
	background-color: #000000aa;
}

.TopBar .buttonContainer {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	margin-bottom: 0.5rem;
	margin-top: 0.5rem;
}

.TopBar .TopBarButton {
	margin-right: 0.25rem;
	height: 2.1rem;
	width: 4rem;
	color: #fff;
	background-color: #00000033;
	border: 1px solid #fff;
	border-radius: 0.3rem;
	transition-duration: 0.15s;
	outline: none;
}

.TopBar .TopBarButton:hover {
	background-color: #00000055;
}

.TopBar .TopBarButton:active {
	background-color: #00000088;
}