/* Keep page content centered */
.page {
	padding-top: 4rem;
	padding-bottom: 1rem;
	margin-top: auto;
	margin-bottom: auto;
}

/* Most pages will have one of these in the center */
.centerForm {
	display: flex;
	flex-flow: row wrap;
	border: 1px solid #000;
	border-radius: 0.3rem;
	padding: 1rem;
	color: #fff;
	background-color: #383838;
	max-width: 15rem;
}

.formTitle {
	flex-grow: 1;
	width: 100%;
	text-align: center;
	font-weight: bold;
	background-color: #00000088;
	padding: 0.3rem;
	border-radius: 0.3rem;
}

input {
	color: #fff;
	background-color: #00000000;
	border: 1px solid #fff;
	border-radius: 0.3rem;
	padding: 0.6rem;
	margin-top: 1rem;
	outline: none;
	transition-duration: 0.15s;
	caret-color: #57eb02;
	width: 100%;
	flex-shrink: 1;
}

input:hover {
	background-color: #00000022;
}

input:focus {
	border-color: #57eb02;
	background-color: #00000044;
}

.formButton {
	width: 100%;
	margin-top: 1rem;
	background-color: #00000022;
	border: 1px solid #57eb02;
	border-radius: 0.3rem;
	padding: 0.6rem;
	color: #fff;
	transition-duration: 0.15s;
	outline: none;
}

.formButton:hover {
	background-color: #00000044;
}

.formButton:active {
	background-color: #57eb0266;
}

.List {
	width: 100%;
}

.hidden {
	display: none;
}

.errorMessage {
	flex: 1;
	width: 100%;
	background-color: #cc1f2d;
	text-align: center;
	margin-top: 1rem;
	padding: 0.5rem;
	border-radius: 0.3rem;
}

hr {
	background-color: #57eb02;
	border: 1px solid #57eb02;
	margin: 1rem;
	width: 100%;
}

@media only screen and (max-width: 500px) {
	body {
		background-color: #383838;
	}

	.centerForm {
		border: none;
	}
}